body {
	background-color: #030922;
}

.border-ga {
	border-color: #4659FF !important;
}

.rounded-ga {
	border-radius: 20px !important;
}

.bg-gradient-ga {
	background: linear-gradient(#0B1041, #030922);
}