@import url('https://fonts.cdnfonts.com/css/gantari');

body {
	font-family: Gantari, sans-serif !important;
}

.nav-link {
	color: #eee;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	&:hover {
		color: $white;
	}
}

.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
}

.header-container {
	padding-left: 20px;
	padding-right: 20px;
}

.button-header {
	&:hover {
		background-color: $button-hover-color;
	}
}

.text-header-selected {
	color: $white;
}

.header-gradient-ga {
	background: linear-gradient(180deg, #030922 0%, #0B1041 100%);
}

.button-gradient-ga {
	border-bottom: 2px solid #4659FF;
	background: linear-gradient(0deg, #4659FF -14.38%, rgba(25, 31, 89, 0.00) 84.51%);
}

/*
.border-ga {
	border-color: #4659FF !important;
}
*/

.rounded-ga {
	border-radius: 20px !important;
}

.bg-gradient-ga {
	background: linear-gradient(#0B1041, #030922);
}

.title {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 600;
	line-height: 29px;
	letter-spacing: 0.06em;
}

.description {
	color: #B5BEFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
}

.category-children {
	display: none;
}

.categories-list .stats {
	color: #FFFFFF;
}

.categories-list .stats {

	.topic-count, .post-count {
		font-size: 24px;
		font-size: 24px;
		font-weight: 600;
		line-height: 29px;
		letter-spacing: 0.06em;
	}

	.topic-count-label, .post-count-label {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
	}
}

.lastpost {
	border-left: 4px solid;
	border-image: linear-gradient(#4659FF, #191F59);
	border-image-slice: 1;
}

.hero-main {
	height: Hug(491px);
	background-image: url(/plugins/nodebb-theme-ga/images/ga-hero-gradient.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-container {
	gap: 20px;
}

.hero-topic {
	height: 180px;
	background-image: url(/plugins/nodebb-theme-ga/images/ga-hero-gradient.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/* 	Footer Styling */
.ga-footer {

	#footer-logo {
		width: 289px;
		height: auto;
	}

	ul {
		list-style: none;
	}

	ul li {
		margin-top: 20px;
	}

	ul li.nested {
		margin-top: 8px;
	}

	a {
		color: white;
		font-size: 16px;
		font-weight: 700;
		line-height: 19px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		text-decoration: none;
		transition: all 0.4s linear;
	}

	a:hover, a:focus {
		color: $purple-200;
	}

	a.secondary-link {
		color: $purple-200;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.08em;
	}

	.copyright-text {
		//styleName: Gantari/Caption/Regular;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
	}
}

.tooltip-inner {
	color: $white;
}


/* Topic styling */

.ga-toolbar {
	background-color: $purple-800 !important;
	color: $white !important;
}

/* Quotes */ 

blockquote {
	background-color: $purple-800 !important;
	color: $white !important;
	border-left: solid 2px $purple-700;
}

/* Quick Reply styles */

.composer-container {
	background-color: $purple-800;
	border: 1px;
	border-color: $purple-700;
}

.composer-container i {
	color: $purple-200;
}