.skin-noskin [component="pagination"] {
	.page-item.active:not(.disabled) .page-link {
		color: $body-color;
		background-color: $purple-700;
		border-color: $purple-200;
	}

	.page-item:not(.disabled):hover .page-link {
		color: $body-color;
	}
}

[component="pagination"] {
	.page-item.active:not(.disabled) .page-link {
		color: $purple-400;
	}
	.page-item:not(.disabled):hover .page-link {
		color: $pagination-hover-color;
		background-color: $purple-700;
	}
	.page-item:not(.disabled) .page-link {
		color: $body-color;
	}
	.page-item.disabled .page-link {
        background-color: $body-bg;
    }
}